.pestaña{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.pestaña button{
    background-color: inherit;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.pestaña button:hover{
    background-color:gray;
    color: antiquewhite
}
.pestaña button.active{
    background-color:black ;
    color: white;
}
 .pestañaContent > h3{
   color: black;
}
.pestañaContent{
    display: none;
    padding: 6px 12px;
    border: 1px solid;
    border: none;
}